.App {
  text-align: center;
}

body{
  background-color: lavenderblush;
  font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(250, 163, 195);
}

.character-grid{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
 gap: 30px;
 padding: 40px;
 max-width: 1400px;
 margin: 0 auto;
}

.character-card{
  background-color: lavender;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 3px solid lavender;
  transition: transform 0.2s;
}

.character-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.character-card img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}