.App {
  text-align: center;
}

body {
  background-color: lavenderblush;
  font-family:
    "Fredoka",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: rgb(250, 163, 195);
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 40px 40px 0px 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.character-card {
  background-color: lavender;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid lavender;
  transition: transform 0.2s;
}

.character-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.character-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: contain;
}

.character-details {
  max-width: 600px;
  margin: 10px auto;
  padding: 30px 20px;
  text-align: center;
  background-color: lavender;
  border-radius: 15px;
  border: 3px solid lavender;
  transition: transform 0.2s;
}

.character-details img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: contain;
}

.app-header {
  padding: 20px 20px;
  text-align: center;
  font-size: xxx-large;
}

.search-input {
  padding: 15px 25px;
  font-size: 1.1em;
  border-radius: 30px;
  border: none;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.disclaimer {
  margin-top: 50px;
  padding: 0px 20px;
  text-align: center;
  font-size: 0.9em;
  border-top-color: 2px solid #ffb7d5;
}
